In [69]:
# Import packages
import pandas as pd
import numpy as np

# Load dataset
airlines = pd.read_csv('airlines.csv')
airports = pd.read_csv('airports.csv')
delay = pd.read_csv('delay.csv')
flights_details = pd.read_csv('flights_details.csv', parse_dates=["departure_time", "arrival_time"])
flights_info = pd.read_csv('flights_info.csv')
planes = pd.read_csv('planes.csv', sep=";")

In [70]:
#EDA
dataframes= {'airlines': airlines, 'airports': airports, 'delay': delay, 
            'flights_details': flights_details, 'flights_info': flights_info, 'planes': planes}

for name, df in dataframes.items():
    print(f"DataFrame: {name}")
    print("--------------")
    print(df.head())
    print(df.info())
    print("\n")

DataFrame: airlines
--------------
  airline_id                                  airline_name         country
0        GNL                                   135 Airways   United States
1        RNX                                 1Time Airline    South Africa
2        WYT  2 Sqn No 1 Elementary Flying Training School  United Kingdom
3        TFU                               213 Flight Unit          Russia
4        CHD                 223 Flight Unit State Airline          Russia
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5808 entries, 0 to 5807
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   airline_id    5808 non-null   object
 1   airline_name  5808 non-null   object
 2   country       5803 non-null   object
dtypes: object(3)
memory usage: 136.3+ KB
None


DataFrame: airports
--------------
  airport_id                                 airport_name          city  \
0       AYGA                               Goroka Airport        Goroka
1       AYMD                               Madang Airport        Madang
2       AYMH                 Mount Hagen Kagamuga Airport   Mount Hagen
3       AYNZ                               Nadzab Airport        Nadzab
4       AYPY  Port Moresby Jacksons International Airport  Port Moresby

            country  latitude   longitude
0  Papua New Guinea -6.081690  145.391998
1  Papua New Guinea -5.207080  145.789002
2  Papua New Guinea -5.826790  144.296005
3  Papua New Guinea -6.569803  146.725977
4  Papua New Guinea -9.443380  147.220001
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7698 entries, 0 to 7697
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   airport_id    7698 non-null   object
 1   airport_name  7698 non-null   object
 2   city          7649 non-null   object
 3   country       7698 non-null   object
 4   latitude      7698 non-null   float64
 5   longitude     7698 non-null   float64
dtypes: float64(2), object(4)
memory usage: 361.0+ KB
None


DataFrame: delay
--------------
  flight_id  delay
0  385cc3cb  07:25
1  385cd64b  09:03
2  385ce253  16:42
3  385cfdb5  09:36
4  385cfe0f  08:43
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   flight_id  283 non-null    object
 1   delay      283 non-null    object
dtypes: object(2)
memory usage: 4.6+ KB
None


DataFrame: flights_details
--------------
  flight_id            departure_time              arrival_time  \
0  385af40f 1970-01-01 00:00:00+00:00 1970-01-01 00:00:00+00:00
1  385b2e14 1970-01-01 00:00:00+00:00 1970-01-01 00:00:00+00:00
2  385baa85 2024-12-15 14:42:00+00:00 2024-12-15 21:29:00+00:00
3  385c1e68 1970-01-01 00:00:00+00:00 1970-01-01 00:00:00+00:00
4  385c3e91 2024-12-15 19:55:00+00:00 2024-12-16 12:55:00+00:00

   passenger_count     status
0               92  Scheduled
1                4  Scheduled
2              189     Landed
3              191  Estimated
4              116     Landed
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1404 entries, 0 to 1403
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   flight_id        1404 non-null   object
 1   departure_time   1404 non-null   datetime64[ns, UTC]
 2   arrival_time     1404 non-null   datetime64[ns, UTC]
 3   passenger_count  1404 non-null   int64
 4   status           1404 non-null   object
dtypes: datetime64[ns, UTC](2), int64(1), object(2)
memory usage: 55.0+ KB
None


DataFrame: flights_info
--------------
  flight_id flight_number origin_airport_id destination_airport_id airline_id  \
0  385af40f           NaN              FVRG                   FVFA        FJW
1  385b2e14        A46069              UNOO                   UWUU        AZO
2  385baa85        FX9887              KMEM                   PANC        FDX
3  385c1e68         ET506              HAAB                   SBGR        ETH
4  385c3e91         DL201              FAOR                   KATL        DAL

  plane_id
0     E145
1     SU95
2     B77L
3     B77L
4     A359
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1404 entries, 0 to 1403
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   flight_id               1404 non-null   object
 1   flight_number           1384 non-null   object
 2   origin_airport_id       1404 non-null   object
 3   destination_airport_id  1404 non-null   object
 4   airline_id              1392 non-null   object
 5   plane_id                1404 non-null   object
dtypes: object(6)
memory usage: 65.9+ KB
None


DataFrame: planes
--------------
  plane_id manufacturer                  model  seating_capacity
0      A10    FAIRCHILD          Fairchild A10                 8
1     A124      ANTONOV  Antonov AN-124 Ruslan               139
2     A19N       AIRBUS        Airbus A319 Neo               149
3     A20N       AIRBUS        Airbus A320 Neo               149
4     A21N       AIRBUS        Airbus A321 Neo                 2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387 entries, 0 to 386
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   plane_id          387 non-null    object
 1   manufacturer      387 non-null    object
 2   model             387 non-null    object
 3   seating_capacity  387 non-null    int64
dtypes: int64(1), object(3)
memory usage: 12.2+ KB
None

In [71]:
# Convert data
#delay["delay"]=pd.to_timedelta(delay["delay"], unit="minute")

flights_details = flights_details.astype({'status': 'category'})

### 1. Combien y a-t-il de vols en cours et combien de destinations diff√©rentes sont desservies ?

In [72]:
# Fight ongoing
flights_details.pivot_table(index="status", values="flight_id", aggfunc='count')

C:\Users\J-P-F\AppData\Local\Temp\ipykernel_67124\3659173356.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  flights_details.pivot_table(index="status", values="flight_id", aggfunc='count')

           flight_id
status
Delayed          282
Estimated        980
Landed           111
Scheduled         27
Unknown            4

In [73]:
# Number of destination
len(airports.city)

7698

### 2. Quelle est la compagnie a√©rienne avec le plus grand nombre de vols pour une journ√©e donn√©e ?

In [ ]:
# Merg dataset
flights=flights_details.merge(flights_info, on="flight_id")
flights_airlines=flights.merge(airlines, on="airline_id")
flights_airlines.head()

# Create a departure date column
flights_airlines["departure_date"]=flights_airlines["departure_time"].dt.date

# Pivot table with date in the index
number_derpature=flights_airlines.pivot_table(index="departure_date", columns="airline_name", 
                             values="flight_id", aggfunc="count", fill_value=0, sort=True)

# Number max of flight during a day
number_derpature.values.max()

60

In [ ]:
# Day with the highest number of derpature for a company
print(number_derpature.max(1))
print("\n")
# Comapny with the highest number of derpature
print(number_derpature.idxmax(axis=1))
print("\n")
# Checking
print(number_derpature.loc[:,"United Airlines"])

departure_date
1970-01-01     2
2024-12-15     7
2024-12-16    60
dtype: int64


departure_date
1970-01-01            DHL Air
2024-12-15      Qatar Airways
2024-12-16    United Airlines
dtype: object


departure_date
1970-01-01     0
2024-12-15     0
2024-12-16    60
Name: United Airlines, dtype: int64

### 3. Quels sont les trois avions les plus utilis√©s (mod√®le d'avion) et combien d'heures de vol ont-ils effectu√©es ?

In [92]:
# Marge datadet
flights_planes=flights_airlines.merge(planes, on="plane_id")
flights_planes.head()

,flight_id,departure_time,arrival_time,passenger_count,status,flight_number,origin_airport_id,destination_airport_id,airline_id,plane_id,airline_name,country,departure_date,manufacturer,model,seating_capacity
0,385baa85,2024-12-15 14:42:00+00:00,2024-12-15 21:29:00+00:00,189,Landed,FX9887,KMEM,PANC,FDX,B77L,Federal Express,United States,2024-12-15,BOEING,Boeing 777-200LRF/LR,191
1,385c1e68,1970-01-01 00:00:00+00:00,1970-01-01 00:00:00+00:00,191,Estimated,ET506,HAAB,SBGR,ETH,B77L,Ethiopian Airlines,Ethiopia,1970-01-01,BOEING,Boeing 777-200LRF/LR,191
2,385c3e91,2024-12-15 19:55:00+00:00,2024-12-16 12:55:00+00:00,116,Landed,DL201,FAOR,KATL,DAL,A359,Delta Air Lines,United States,2024-12-15,AIRBUS,Airbus 350-900,149
3,385c6eee,2024-12-15 22:15:00+00:00,2024-12-16 15:55:00+00:00,2,Estimated,QF4,KJFK,NZAA,QFA,B789,Qantas,Australia,2024-12-15,BOEING,Boeing 787-9 Dreamliner,2
4,385c905b,2024-12-15 23:00:00+00:00,2024-12-16 14:55:00+00:00,127,Estimated,QR920,OTHH,NZAA,QTR,A35K,Qatar Airways,Qatar,2024-12-15,AIRBUS,Airbus A350-1000 XWB,178

In [ ]:
# The 3 most used flights
flights_planes.pivot_table(index="model", values="flight_id", aggfunc="count").nlargest(3, "flight_id")

                         flight_id
model
Boeing 777-300ER               206
Boeing 787-9 Dreamliner        192
Airbus 350-900                 115

In [ ]:
# Flifhts duration
flights_planes["flights_duration"]= flights_planes["arrival_time"]-flights_planes["departure_time"]

flights_planes.loc[flights_planes.model.isin(["Boeing 777-300ER", 
                                              "Boeing 787-9 Dreamliner", 
                                              "Airbus 350-900"])].pivot_table(index="model",
                                                                              values="flights_duration",
                                                                              aggfunc="sum").sort_values("flights_duration", ascending=False)

                        flights_duration
model
Boeing 777-300ER        99 days 14:20:00
Boeing 787-9 Dreamliner 91 days 04:59:00
Airbus 350-900          57 days 10:20:00